<launch>
    <arg name="fps" default="10" />
    <arg name="model" default="$(find neuro_car)/models/fatigue.model" />
    <arg name="mode" default="default" />

    <node name="svm_fatigue" pkg="neuro_car" type="svm" output="screen">
        <param name="fps" type="int" value="$(arg fps)" />
        <param name="model" type="string" value="$(arg model)" />
        <param name="mode" type="string" value="$(arg mode)" />
    </node>
</launch>
